#about {
    background-image: url('../../images/photo-1516116216624-53e697fedbea.avif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
    padding: 6rem 15px;

}

#about .about-text {
    background-color: rgb(149 125 125 / 85%);
    width: 550px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0px -1px 58px -14px rgb(0 0 0 / 75%);
    border: none;
    border-radius: 15px;
    padding: 35px;
    color: #fff;
}

#about .about-text .about-name {
    font-size: 30px;
}

#about .img-wrapper {
    width: 430px;
    height: 430px;
    background-image: url(../../images/IMG_6808-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: -5rem;
    background-size: cover;
    background-color: black;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 39px 5px rgba(205, 113, 50, 1);
}

@media screen and (max-width:1150px) {
    #about {
        gap: 5rem;
    }

    #about .about-text {
        width: 450px;
    }

    #about .img-wrapper {
        width: 330px;
        height: 330px;
        background-position: -4rem;
    }
}

@media screen and (max-width:900px) {
    #about {
        flex-direction: column-reverse;
        padding: 4rem 15px;
        gap: 4rem;
    }
}

@media screen and (max-width:560px) {

    #about {
        padding: 3rem 15px;
    }

    #about .about-text {
        width: 300px;
        padding: 30px;
    }

    #about .about-text .about-name {
        font-size: 25px;
    }

    #about .img-wrapper {
        width: 300px;
        height: 300px;
        background-position: -3.4rem;
    }
}


@media screen and (max-width:370px) {
    #about .img-wrapper {
        width: 255px;
        height: 255px;
        background-position: -2.8rem;
    }
}