#certificates {
    background-color: #131313;
    padding: 0px 15px 20px 15px;
    color: #fff;
}

#certificates .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 2rem 0 0 0;
}

#certificates .certificates-mobile {
    display: none;
}

.divider {
    height: 3px;
    width: 7rem;
    background-color: red;
    margin: 0 auto;
    margin-bottom: 3rem;
}

#certificates .divider {
    margin-bottom: 3rem;
}

.conatainer-certificates .certificates-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 3rem;
}

.card {
    position: relative;
    width: 335px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    color: #fff;
}

.card:hover .overlay {
    height: 100%;
}

.overlay .overlay__title {
    width: 100%;
    margin-top: 30%;
    font-size: 25px;
    text-align: center;
}

.overlay .overlay__date {
    width: 100%;
    margin-top: 5%;
    font-size: 16px;
    text-align: center;
}

.overlay .overlay__link {
    width: 100%;
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
}

.overlay .overlay__link a {
    text-decoration: none;
    color: #fff;
}

.swiper {
    width: 340px;
    height: 520px;
    margin-bottom: 50px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide {
    background-color: rgb(10, 184, 111);
}

.certificates-mobile {
    padding: 50px 0;
}

.certificates-mobile .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificates-mobile .card {
    width: 100%;
    height: auto;
    max-width: 500px;
    /* Adjust based on your needs */
}

.certificates-mobile .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.certificates-mobile .overlay {
    width: 100%;
    height: 100%;
}

.certificates-mobile .card .overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.certificates-mobile .card:hover .overlay {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width:2480px) {
    .conatainer-certificates .certificates-row {
        gap: 0rem;
    }
}

@media screen and (max-width: 763px) {
    #certificates .certificates-mobile {
        display: block;
    }

    #certificates .certificates-row {
        display: none;
    }
}

@media screen and (max-width: 465px) {
    .swiper {
        width: 260px;
        height: 370px;
    }

    .certificates-mobile .overlay .overlay__title {
        font-size: 18px;
        margin-top: 20%;
    }

    .certificates-mobile .overlay .overlay__date {
        font-size: 14px;
        margin-top: 3%;
    }

    .certificates-mobile .overlay .overlay__link {
        font-size: 16px;
        margin-top: 3%;
    }
}