* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    background-color: transparent;
}

.hamburger {
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #cd7132; /* Change this to match your desired color */
    transition: 0.3s;
}

#color-changer {
    color: #ffffff; /* Change this to match your desired color */
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
}

.side-nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(78, 70, 66, 0.2); /* Reduced opacity for transparency */
    backdrop-filter: blur(10px); /* Adds blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    transition: 0.5s;
    z-index: 999;
}

.side-nav.active {
    left: 0;
}

.side-nav ul {
    padding-top: 80px;
}

.side-nav ul li {
    margin-bottom: 20px;
}

.side-nav ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
}

.side-nav ul li a:hover {
    color: rgb(110, 206, 21);
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(110, 206, 21, 0.7);
}

/* Hamburger animation */
.hamburger .line {
    background-color: #ffffff;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

@media only screen and (max-width: 1320px) {
    #header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    #header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .side-nav {
        width: 100%;
        left: -100%;
    }
}
